*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #C9C9C9;
}

h1{
    font-size: 5vw;
    padding: 15px;
}

h2{
    font-size: 2.8vw;
}

p{
    font-size: 1.8vw;
}

button{
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
}

button:hover{
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: black;
}

.box{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 1.5vw;

}

.imgprojetosleft{
    width: 18vw; 
    border-radius: 1.5vw 50% 50% 1.5vw;
    border: 0.5px solid black;
}

.imgprojetosleft:hover{
    transition: all 0.3s ease;
    width: 25vw; 
    border-radius: 0%;
    border: 0.5px solid black;
    border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
}

.imgprojetosright{
    width: 18vw; 
    border-radius: 50% 1.5vw 1.5vw 50%;
    border: 0.5px solid black;

}

.imgprojetosright:hover{
    transition: all 0.3s ease;
    width: 25vw; 
    border-radius: 0%;
    border: 0.5px solid black;
    border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
}

.textprojetosright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    border: 0px solid black;
    width: 50VW;
    margin-right: 0.5vw;
}

.textprojetosleft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    border: 0px solid black;
    width: 50VW;
    margin-left: 0.5vw;
}

#principal{
    display: flex;
    width: 100vw;
    height: 100%; 
    background-color: #C9C9C9;
    align-items: center;
}

#side{
    width: 15vw;
    height: 97vh;  
    background-color:rgb(32, 29, 29);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vh;
    border-radius: 1.5vw;
}

#main{
    width: 75vw;
    height: 100vh; 
    border: 0px solid blue; 
    
}

#sideright{
    width: 10vw;
    height: 97vh;  
    border: 0px solid red;
    background-color: #901615;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 2.5vh;
    border-radius: 1.5vw;
}

#perfil{
    width: 14vw; 
    border-radius: 50%; 
    border: 1px solid gray; 
    margin-top: 1vh;
}

#linha{
    border: 1px solid gray;
    width: 60vw;
}

#linha1{
    border: 1px solid gray;
    width: 40vw;
}